<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/images/Girl-icon.png" rel="icon" />
    <title>Submission page</title>
  </head>
  <body style="margin: 0;">
    <main
      style="
        background-color: #008cff;
        padding: 20%;
        color: azure;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      <h1 style="text-align: center;">
        Thank you for your details, will connect with you shortly!
      </h1>
      <img
        style="margin-left: 80%; margin-top: 5%;"
        ;
        src="./static/assets/images/happy-ice-icon.png"
        alt="happy_picture"
      />
    </main>
  </body>
</html>
