@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

body {
  margin: 0;
  color: Black;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.heading {
  text-transform: uppercase;
}
.nav-bar {
  align-self: center;
}

.nav-bar > a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
}
.nav-bar > a:hover {
  color: crimson;
}

.cover-page {
  top: 1rem;
  left: 0;
  width: 100vw;
  height: 90vh;
  background: url("./images/computer-table.jpeg") no-repeat;
  background-size: cover;
  background-color: rgba(32, 32, 32, 0.45);
  background-blend-mode: color-burn;
  background-position: center center;
}
.introduction {
  position: absolute;
  top: 28%;
  left: 12%;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Lemonada", cursive;
  line-height: 1.5rem;
}
.name {
  line-height: 2rem;
}
.media-links {
  position: fixed;
  top: 12rem;
  right: 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.7;
  animation: 1.5s ease-in 0s 1 slideInFromRight;
}
#profile-link {
  margin: 0.2rem;
  padding: 0.3rem;
}
/* #about-container {
} */
h2 {
  position: relative;
  left: 22%;
}
.about-content {
  display: flex;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.profile-img {
  width: 12rem;
  height: 12rem;
  margin-left: 22%;
}
.about-info {
  margin-right: 5%;
  padding: 1rem 3rem;
}
@keyframes slideInFromRight {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
