@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

body {
  margin: 0;
  color: Black;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  outline: 0.07rem solid black;
}
.heading {
  text-transform: uppercase;
}
.nav-bar {
  align-self: center;
}

.nav-bar > a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
}
.nav-bar > a:hover {
  color: crimson;
}

.cover-page {
  width: 100vw;
  max-width: 100%;
  display: block;
  height: 90vh;
  background: url("./images/computer-table.jpeg") no-repeat center center;
  background-size: cover;
  background-color: rgba(32, 32, 32, 0.45);
  background-blend-mode: color-burn;
}
.introduction {
  position: absolute;
  top: 28%;
  left: 12%;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Lemonada", cursive;
  line-height: 1.3rem;
}

.media-links {
  position: fixed;
  top: 12rem;
  right: 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.7;
  outline: 0.07rem solid black;
  animation: 1.5s ease-in 0s 1 slideInFromTop;
}
.media-links:hover {
  opacity: 0.9;
}
#profile-link {
  margin: 0.2rem;
  padding: 0.3rem;
}
#about-container {
  margin: 2.2vw 0;
}
h2 {
  position: relative;
  left: 20vw;
  margin-bottom: 1vw;
}
.about-content {
  display: flex;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 200%;
  line-height: 2rem;
}
.profile-img {
  width: 12rem;
  height: 13rem;
  margin-left: 18%;
}
.about-info {
  margin-right: 5%;
  padding: 1rem 3rem;
}
.resume {
  text-decoration: none;
  color: white;
  border: 0.1rem solid white;
  padding: 0 0.7rem;
  box-shadow: 0.3rem 0.3rem 1rem black;
  line-height: 3rem;
  border-radius: 3%;
}
.resume:hover {
  background-color: rgb(102, 97, 97);
}
#contact {
  display: flex;
  color: white;
  justify-content: space-between;
  outline: 0.1 solid black;
  font-size: 150%;
  padding: 0 2vw;
  background-color: grey;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-device-width: 600px) {
  .heading {
    font-size: 4.5vw;
  }
  .nav-bar > a {
    color: white;
    padding: 0;
  }
  .nav-bar > a:hover {
    color: white;
  }
  .introduction {
    font-size: 0.7rem;
    left: 2vw;
  }
  .media-links {
    left: 0;
    right: auto;
    top: 14vw;
    flex-direction: row;
  }
  h2 {
    left: 10vw;
    margin-bottom: 3vw;
  }
  .about-content {
    display: flex;
    flex-direction: column;
  }
  .profile-img {
    width: 15rem;
    height: 17rem;
    margin-left: 15vw;
  }
  .about-info {
    margin-right: 5%;
    padding: 1rem 1.5rem;
  }

  #contact {
    font-size: 3vw;
  }
}
