@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  color: Black;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.left {
  text-transform: uppercase;
}
.right {
  align-self: center;
}

.right > a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
}
.right > a:hover {
  color: crimson;
}

.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border: 0.2rem solid yellow;
  background: url("./images/computer-table.jpeg") no-repeat center;
  background-size: cover;
  background-color: rgb(119, 112, 112);
  background-blend-mode: lighten;
}
