@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 20vw;
}

.project {
  flex: 1 0 50%;
  padding: 1vw 0;
}
.project:first-child {
  flex: 1 0 100%;
  align-self: center;
}
.landscape-image {
  background-image: url("./images/shopResize.gif");
  width: 825px;
  height: 422px;
}
.second-img {
  background-image: url("./images/design.png");
  width: 825px;
  height: 422px;
}
.project-name {
  padding: 0 0.8vw;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

.github {
  text-decoration: none;
  color: black;
  border: 0.1rem solid white;
  padding: 0.2vw 4vw;
  margin: 0 0.4vw;
  box-shadow: 0.2rem 0.15rem 0.4rem black;
  line-height: 2.2rem;
  font-size: 1rem;
  border-radius: 3%;
}
.github:hover {
  font-weight: 800;
  font-size: 1.05rem;
}
.tech {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 1rem;
}
.project-info {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-right: 4.5vw;
  /* border: 2px solid red; */
}
@media only screen and (max-device-width: 600px) {
  .landscape-image {
    background-image: url("./images/shopPhone.gif");
    width: 360px;
    height: 230px;
  }
  .second-img {
    background-image: url("./images/designPhone.png");
    width: 315px;
    height: 274px;
  }
}
@media only screen and (max-device-width: 359px) {
  .landscape-image {
    width: auto;
  }
}
@media only screen and (max-device-width: 300px) {
  .second-img {
    width: auto;
  }
}
